<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">TP5-BACKENDyFRONTEND-MARAZ</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#" routerLinkActive="active">Home</a>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            P1-Gestión de Producto
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" [routerLink]="['producto']" routerLinkActive="active">Listado de Productos</a></li>
            <li><a class="dropdown-item" [routerLink]="['producto-form/0']" routerLinkActive="active">Formulario de Producto</a></li>
          </ul>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            P2-Gestión de Transacción
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" [routerLink]="['transaccion']" routerLinkActive="active">Listado de Transacciones</a></li>
            <li><a class="dropdown-item" [routerLink]="['transaccion-form/0']" routerLinkActive="active">Formulario de Transaccion</a></li>
          </ul>
        </li>


      </ul>
    </div>
  </div>
</nav>