<div class="bg-secondary-subtle p-3">
    <div class="m-5 p-3 text-center fw-bold h1 bg-info bg-opacity-10 border border-info border-start-0 rounded-end">
        TRANSACCIONES
    </div>

    <button type="button" class="btn btn-primary w-100" (click)="cargarTransacciones()">RECUPERAR TODAS</button>
    <button type="button" class="btn btn-warning w-100 mt-3" (click)="cargarPorFiltro()">RECUPERAR POR FILTRO</button>

    <table class="table table-bordered table-hover border-primary mt-5" *ngIf="filtro==false">
        <thead class="table-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">MONEDA ORIGEN</th>
                <th scope="col">MONEDA DESTINO</th>
                <th scope="col">CANTIDAD ORIGEN</th>
                <th scope="col">CANTIDAD DESTINO</th>
                <th scope="col">EMAIL CLIENTE</th>
                <th scope="col">TASA CONVERSION</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let t of transacciones">
                <th scope="row">{{t._id}}</th>
                <td>{{t.monedaOrigen}}</td>
                <td>{{t.monedaDestino}}</td>
                <td>{{t.cantidadOrigen}}</td>
                <td>{{t.cantidadDestino}}</td>
                <td>{{t.emailCliente}}</td>
                <td>{{t.tasaConversion}}</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-striped table-hover mt-5" *ngIf="filtro==true">
        <thead class="table-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">MONEDA ORIGEN</th>
                <th scope="col">MONEDA DESTINO</th>
                <th scope="col">CANTIDAD ORIGEN</th>
                <th scope="col">CANTIDAD DESTINO</th>
                <th scope="col">EMAIL CLIENTE</th>
                <th scope="col">TASA CONVERSION</th>
            </tr>
        </thead>
        <tbody>
            <!-- <tr *ngFor="let t of transacciones">
                <th scope="row">{{t._id}}</th>
                <td>{{t.monedaOrigen}}</td>
                <td>{{t.monedaDestino}}</td>
                <td>{{t.cantidadOrigen}}</td>
                <td>{{t.cantidadDestino}}</td>
                <td>{{t.emailCliente}}</td>
                <td>{{t.tasaConversion}}</td>
            </tr> -->
        </tbody>
    </table>
</div>